@import "../scss/abstracts/variables";




.main-banner{
    background-color: $main-background;
    width: 100%;
    height: 466px;
    padding: 72px 17px;
    font-weight: 700;
    background-image: url(../../img/Group\ 3-mobile.png);
    background-position: right;
    background-repeat: no-repeat;

    &__title{
     font-family: DynaPuff;
     color: #FAEB49;
     font-size: 36px;


      @media (min-width: $bp-md) {
        font-size: 48px;
      }

      }

        @media (min-width: $bp-md) {
        background-image: url(../../img/Group\ 3-tablet.png);
        padding: 101px 33px;
     }

        @media (min-width: $bp-lg) {
        background-image: url(../../img/Group\ 3-desktop.png);
        padding: 101px 191px;
     }


}
.main-banner__section{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    color:$title-color ;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;

@media (min-width: $bp-md) {
        font-size: 16px;
    }

}

.main-banner__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
    font-size: 16px;

    &-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        
    }

    &-item span{
        font-family: DynaPuff;
        font-size: 36px;

        @media (min-width: $bp-md) {
                font-size: 48px;
            }
        }

        @media (min-width: $bp-md) {
            column-gap: 96px;
        }
}