@import "../scss/abstracts/variables";


.card-section{
    background-color: $secondary-background;
    height: fit-content;
    padding: 52px 18px 63px;
    display: flex;
    flex-direction: column;
    gap: 63px;

    @media (min-width: $bp-md){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 102px 40px;
    padding: 52px 32px 122px;
    }
    @media (min-width: $bp-lg) {
    grid-template-columns: repeat(3, 1fr );
    gap: 63px 40px;
    padding: 86px 195px;
}
}



.card-section__list-main{
    grid-column: span 2;
@media (min-width: $bp-lg) {
    grid-column: span 3;
}

}
.card-section ul:nth-child(n+3){
    display: none;

    @media (min-width: $bp-md) {
      display: grid;
    }   
}

.card-section .card-section__list {
    @media (min-width: $bp-md){
        &:nth-child(n+4){
            display: none;
        }
    }
}
.card-section .card-section__list {
    @media (min-width: $bp-lg) {
        &:nth-child(n+4) {
            display: grid;
        }
    }
}

.card-section__item{
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
}
.card-section__item-title{
    display: flex;   
    flex-direction: column;
    gap: 22px;
    
    & h3{
    font-size: 32px;
    
  @media (min-width: $bp-md) {
    font-size: 27px;
    
   }
        @media (min-width: $bp-md) {
            font-size: 32px;
    
        }
    }
}
.card-section__item-title-main h3{
    font-size: 40px;
}

.card-section__item-title p{
    font-family: Manrope;
    font-size: 15px;
    font-weight: 700;
    color: $text-color;
        
    @media (min-width: $bp-md) {
    font-size: 16px;
    }
    @media (min-width: $bp-lg) {
    font-size: 19px;
    }
}

.card-section__list{
    display: flex;
    flex-direction: column;
    padding:16px;
    background-color: $card-background-color;
    border-radius: 24px;
    color: $card-title-color;
    
}

.card-section__item img {
    width: 100%;
    border-radius: 13px;
    
}
.card-section__item::before {

    content: url(../../img/fi-rr-arrow-up.png);
    position: absolute;
    right: 20px;
    top:20px ;
    width: 56px;
    height: 56px;
    background-color: $title-color;
    border-radius: 50%;
    display: flex;
    padding: 12px;  
}