@import "../scss/abstracts/variables";

.footer{
    background-color: $main-background;
    width: 100%;
}

.footer__icon-list{
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: center;
}
.footer__copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 21px;
    padding-bottom:  40px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;

    @media (min-width:$bp-md){
     padding-bottom: 35px;
     font-size: 16px;
    }
}