@import "../scss/abstracts/variables";

.good-design{
    width: 100%;
    background-image: url(../../img/Rectangle.png);
    height: 498px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 173px 16px;
   

    @media(min-width:$bp-md){
        height: 800px;
        padding: 280px 32px;
    }

         @media(min-width:$bp-lg) {
             padding: 310px 190px;
         }
}

.good-design__title{
    font-size: 24px;  
    font-weight: 700;
    text-align: center;

    @media(min-width:$bp-sl){
    font-size: 35px;

}

@media(min-width:$bp-md) {
    font-size: 48px;
}


}