@import "../scss/abstracts/variables";
.graphics-design{
    background-color:$main-background ;
}

.graphics-design__wrapper{
    display: flex;
    flex-direction: column;
    padding: 58px 17px 93px;

    &-title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 28px;

    @media (min-width: $bp-md){
    margin-bottom: 38px;
    font-size: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    }

    @media (min-width: $bp-md){
    padding: 82px 32px 129px;
    }

        @media (min-width: $bp-lg) {
        padding: 82px 191px 138px;
    
        }
}

.graphics-design__wrapper-list{
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $bp-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px 34px;
    }

    @media (min-width: $bp-lg) {
    gap: 26px 26px;
    }
}
.graphics-design__wrapper-item img{
    width: 100%;  
}

.graphics-design__item-first{
   position: relative;
}

.graphics-design__item-first {
    @media (min-width: $bp-md) {
    grid-column-start:1 ;
    grid-column-end: 3;  
    } 
}

 .graphics-design__item-first img{
    @media (min-width: $bp-md) {
    height: 414px;  
   }
}
.graphics-design__item-secondary img {
    @media (min-width: $bp-md) {
    height: 325px;
    }
}
.graphics-design__item-third img{
    @media (min-width: $bp-md) {
    height: 325px;;
    }
}
 .graphics-design__item-secondary{
    position: relative;
}

 .graphics-design__item-third{
    position: relative;
}



.graphics-design__item-first::after{
content: "";
   background-image:url(../../img/graphic/Soft\ Star.png) ;
   width: 172px;
   height: 172px;
   position: absolute;
   background-position: center;
   right: 20%;
   top: 20%;

   @media(min-width:$bp-sl) {
   right: 33%;
   top: 33%;
    }

   @media(min-width:$bp-md) {
    width: 227px;
    height: 227px;
    background-size: cover;
    right: 30%;
    top: 20%;       
    }

   @media(min-width:$bp-lg) {
    width: 268px;
    height: 268px;
    right: 36%;
    top: 20%;
}
}

.graphics-design__item-secondary::after {
content: "";
background-image: url(../../img/graphic/Butterfly.png);
background-repeat: no-repeat;
width: 172px;
height: 172px;
position: absolute;
background-position: center;
right: 20%;
top: 20%;

@media(min-width:$bp-sl) {
right: 33%;
top: 33%;
}

@media(min-width:$bp-md) {
width: 147px;
height: 151px;
right: 29%;
top: 33%;
}
@media(min-width:$bp-lg) {
width: 187px;
height: 191px;
right: 36%;
top: 20%;
background-size: cover;
}
}

.graphics-design__item-third::after {
content: "";
background-image: url(../../img/graphic/Asterisk.png);
background-repeat: no-repeat;
position: absolute;
background-position: center;
width: 172px;
height: 172px;
position: absolute;
right: 20%;
top: 20%;

@media(min-width:$bp-sl){
right: 33%;
top: 33%;
}

@media(min-width:$bp-md) {
width: 183px;
height: 177px;
right: 25%;
top: 22%;
}
@media(min-width:$bp-lg) {
width: 232px;
height: 225px;
right: 32%;
top: 13%;
background-size: cover;
}
}
