@import "./base/reset";
@import "../scss/abstracts/variables";
@import "..//../fonts/fonts";


.header{
width: 100%;
margin: 0 auto;
height: 800px;
background: $header-color;
padding: 27px 17px 0;
font-weight: 700;
  

    
@media (min-width: $bp-md)
{
 padding: 38px 31px 0;
}
@media (min-width: $bp-lg) {
    padding: 41px 191px 0;
}

}

.header-navigation{
    display: none;
}
.header-navigation{

    @media (min-width:$bp-lg){
     display: inline-flex;
     align-items: center;
     align-content: center;
     gap: 20px;
    
    
}
}

.header-navigation__item {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #FFF;
    font-family: Manrope;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 95%;
        

 @media (min-width: $bp-sl) {
        margin-bottom: 279px;
    }

    @media (min-width: $bp-md){
       margin-bottom: 179px;
     }

         @media (min-width: $bp-lg) {
            width: 70%;
            & a:last-of-type{
                display: none;
            }
         }
}

.header-title {
    font-size: 45px;
    margin-top: 329px;


    @media (min-width: $bp-sl) {
        font-size: 55px;
        
    }

    @media (min-width: $bp-md) {
        font-size: 80px;
        margin-top: 179px;
    }
    @media (min-width: $bp-lg) {
    font-size: 80px;
    margin-top: 394px;
    }
}