
@import "../scss/abstracts/variables";

.new-project{
    padding: 53px 16px 113px;
    display: flex;

    @media (min-width:$bp-md) {
    
            padding: 96px 25px 60px;
        }

    @media (min-width:$bp-lg) {
    
            justify-content: center;
        }

}
.new-project img{
    @media (min-width:$bp-md) {
            object-fit: cover;
            height:108px;
        }
}


.new-project__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #F2F2F2);
    color: $title-color;
    font-size: 20px;  
    font-weight: 700;
    padding: 10px 33px;
    width: 100%;
    height: 85px;

    @media (min-width:$bp-md) {
           font-size: 48px;
           height: 150px;
           gap: 45px;
        }
        
    @media (min-width:$bp-lg) {
            width: 915px;
            
               
        }
   
}
.new-project__item-text{
        text-align: left;
        font-family: Manrope;
        font-size: 15px;
        font-weight: 500;
        margin-top: 4px;
        position: relative;
       
@media (min-width:$bp-md) {
        font-size: 24px;
        
    }
        &::before{
            content: "";
            background: url(../../img/Group.png);
            width: 32px ;
            height: 16px;
            position: absolute;
            background-position: center;
            top: 20%;
            right: 0;
            background-size: cover;

            @media (min-width:$bp-sl) {
                margin-right: 55px;
            }

                        @media (min-width:$bp-md) {
                            width: 55px;
                                height: 26px;
                                margin-right: 240px;
                        }
        }
}
