// BREAKPOINTS//
$bp-sl: 450px;
$bp-md: 768px;
$bp-lg: 1200px;

// COLORS//

$header-color: linear-gradient(253deg, #FFEE32, #D6D6D6);
$title-color:#FFF;
$main-background:#202020;
$secondary-background:#3C3C3C;
$card-background-color:#FFFEF2;
$card-title-color: #565656;
$text-color: #000;